{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}Plan Settings Add{% endblock %}
{% block body %}
<style>
    input[type=text]{width:30%;padding: 10px 15px;margin: 5px 0;
            box-sizing: border-box;}
    input[type=password]{width:30%;padding: 10px 15px;margin: 10px 0;
            box-sizing: border-box;}

</style>

<center>
    <h1>Plan Settings Add</h1>
     <div class="container">
         <form role="form" name="frm" action="{% url 'admin_plan_settings_add'%}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="plan_type">Category :</label>
            <input class="form-control" type="text" name="plan_type" id="plan_type" value="" required>
        </div>
       <button type="submit" class="btn btn-info" id="bt" name="bt">Add</button>
        <button type="reset" class="btn btn-info" id="rt" name="rt">Clear</button>
    </form>
     </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
